.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.header {
  /* height: 120px; */
  height: 100px;
}
.header .top {
  /* height: 50%; */
  height: 60px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(var(--red-rgb));
  color: rgb(var(--white-rgb));
}
.header .bot {
  /* height: 50%; */
  height: 40px;
}
.header .bot .buttonGroup {
  width: 100%;
  height: 100%;
}
.header .bot .buttonGroup > button {
  flex: 1;
  border: 0;
  border-radius: 0;
  background-color: rgb(var(--light-grey-rgb));
  color: rgb(var(--black-rgb));
}
.header .bot .buttonGroup > button:hover {
  background-color: rgb(var(--grey-rgb));
}
.header .bot .buttonGroup > button:first-child {
  border-bottom: 3px solid rgb(var(--red-rgb));
}
.main {
  height: calc(100vh - 100px - 60px); /* 100vh - .header height - .bot height */
  overflow-y: auto;
  padding: 1rem 0.5rem;
  background-color: rgba(var(--grey-rgb), 0.75);
}
.main .searchInput {
  margin-bottom: 1rem;
  width: 100%;
  background-color: rgb(var(--white-rgb));
}
.main .searchInput:hover {
  background-color: rgba(var(--white-rgb), 0.75);
}
.main .searchInput input {
  padding: 0.5rem;
}
.main .list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}
.main .list > li {
  grid-column: span 2 / span 2;
}
.main .widgetBtn {
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 2rem 0.5rem;
  gap: 1rem;
  color: rgb(var(--black-rgb));
  border-color: currentColor;
  text-transform: capitalize;
}
.main .widgetBtn:hover {
  color: rgb(var(--light-blue-rgb));
}
.footer {
  height: 60px;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(var(--dark-grey-rgb), 0.75);
  color: rgb(var(--white-rgb));
}
