.main {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow-y: hidden;
}
.pageEditor {
  overflow-y: auto;
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: 400px 1fr;
  }
  .topBar {
    display: none;
  }
}
